* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background: #444;
}

h1 {
  font-weight: 300;
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
}

button {
  appearance: none;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  background: #fff;
  color: #444;
  padding: 1rem 2rem;

}

button:hover,
button:focus {
  opacity: 0.9;
  box-shadow: 1px 1px 3px #333;
  
 
}


.timer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 3rem auto;
  padding: 2rem 1rem;
  background: #ccc;
  border-radius: 5px;
  width: 500px;
  height: 400px;
}

.timer-wrapper__dial {
  padding:1rem;
  width: 80%;
  border: 1px solid #333;
}

.timer-wrapper__dial span {
  font-size: 4rem;
}


.timer-wrapper__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}